body {
    background-color: #210F37;
    color: #DBE4EE;
    font-family: 'Poppins', 'SEGOE UI', 'LUCIDA SANS';
    font-size: 1rem;
}

.navbar {
    opacity: 0.7;
    box-shadow: 0 0 100px #D70654;
}

.nav-links li {
    margin-right: 1%;
}
.navbar:hover{
    opacity: 1;
}

a {
    color: #DBE4EE;
    font-weight: 500;
}

a:hover {
    color: ghostwhite;
    text-decoration: none;
    font-weight: bold;
}

/* Clase base para elementos que se animarán al scroll */
.animate-on-scroll {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

/* Clase que se añade cuando el elemento es visible */
.animate-on-scroll.visible {
    opacity: 1;
    transform: translateY(0);
}

footer {
    background-color: #584a85;
    opacity: 0.7;
    padding: 10px;
    text-align: center;
    color: white;
}

#habilidades ul li {
    text-align: center;
    background-color: #8a4075;
    color: white;
    font-weight: 500;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 15px;
    opacity: 0.8;
}

#habilidades :hover {
    transition: opacity ease-in-out 0.3s;

    opacity: 1.5;
}

#habilidades ul li:hover {
    box-shadow: 0 0 25px #D70654;
}

/* Para pantallas pequeñas (dispositivos móviles) */
@media (max-width: 576px) {
    body {
        font-size: 0.9rem;
    }

    main img {
        width: 60%;
    }

    .cavamym-card {
        opacity: 1;
    }
}

/* Para pantallas medianas (tabletas) */
@media (min-width: 576px) and (max-width: 992px) {
    body {
        font-size: 1.1rem;
    }

    .cavamym-card {
        opacity: 1;
    }
}

#proyectos .card {
    color: #F0F0F0;
    background-color: #313456;
    width: 18rem;
    transition: transform 0.3s ease;
}

#proyectos .card:hover {
    transform: scale(1.03);
    opacity: 1;
}

/* #habilidades, 
#contacto {
    background-color: #263962;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgb(242, 237, 237);
} */
main img {
    padding: 3%;
    border-radius: 40px;
}

/*
.seccion-about {
    background-color: #263962;
    border-radius: 20px;
}
*/

.seccion-proyectos {
    margin-bottom: 10vh;
}

.cavamym-card img {
    width: 13%;
    background-color: #a5abed;
    padding: 1%;
    border-radius: 5px;
    margin-right: 3px;
}

.cavamym-card {
    opacity: 0.9;
}

.btn-proyecto {
    background-color: #D91656;
    font-weight: 500;
    box-shadow: 0px 0px 15px rgb(219, 91, 91);
}

.hero-section a:hover {
    transform: scale(1.07);
    transition: transform 0.3s ease-in-out;
}

.hero-section span {
    font-weight: 600;
}

.hero-section {
    margin-top: 5%;
    margin-bottom: 11%;
}

#habilidades img {
    width: 55%;
}

#habilidades {
    box-shadow: 0 0 50px #8a4075;
    border-radius: 20px;
}

#proyectos {
    box-shadow: 0 0 50px #6856f0;
    border-radius: 20px;
}

#about {
    box-shadow: 0 0 50px #019b96;
    border-radius: 20px;
}

.neon {
    text-shadow:
        0 0 5px rgba(120, 106, 194, 0.3),
        0 0 10px rgba(120, 106, 194, 0.2),
        0 0 15px rgba(120, 106, 194, 0.1),
        0 0 20px rgba(120, 106, 194, 0.05);
}

h5 {
    font-weight: bold;
}

/* Estilos para la sección de contacto */
#contacto {
    background-color: #210F37;
    padding: 60px 0;
    
}

.contact-item {
    background-color: rgba(255, 255, 255, 0.05);
    transition: all 0.3s ease;
    border-left: 3px solid transparent;
}

.contact-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 5px solid #4F959D;
    transform: translateX(7px);
}

.contact-text a {
    color: #63b6c0;
    transition: color 0.3s ease;
}
.contact-text a:hover {
    color: #DBE4EE;
    text-decoration: none;
}
.btn-contact {
    background-color: #4F959D;
    color: white;
    font-weight: 600;
    border-radius: 30px;
    transition: transform 0.3s ease;
}
.btn-contact:hover {
    transform: translateY(-8px);
}